<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Galactica-Search</title>
    <style>
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.btn {
    position: relative;
    width: 100%;
}

{% load static %}
</style>
  </head>
  <body>
    <div class="wrapper" style="height : 916px">
      <div class="row">
        <div class="col-1 " style="height : 916px;background-color : #595959">
          <div class="row">
            <div class="col" style="height:80px">
            </div>
          </div>
          <div class="row">
            <div class="container"><div class="ml-3 col-md-8 px-0">
              <img src="{% static "search/import.png" %}" class="img-fluid">
            </div>
          </div>
          </div>
          <div class="row" style="height: 60px">
          </div>
          <div class="row">
            <div class="container"><div class="ml-3 col-md-8 px-0">
              <img src="{% static "search/algo.png" %}" class="img-fluid" >
            </div>
          </div>
          </div>
          <div class="row" style="height: 230px">
          </div>
          <div class="row">
            <div class="container"><div class="ml-4 col-md-8 px-0">
              <img src="{% static "search/159461-200.png" %}" class="img-fluid" >
            </div>
          </div>
          </div>
        </div>
        <div class="col-3" style="background-color: #3a3a3a">
          <div class="row">
          <div class="col" align="center" style="color: #0433ff; height:80px; text-align:center">
            <h3 class="mt-3" style="color:#0433ff"> Galactica.Ai</h3>
          </div>
        </div>
        <input type="file" id="read-file" hidden="hidden" multiple/>
        <a style="text-decoration:none" id="upload-button" href="#">
        <div class="row">
          <!-- <button type="button" class="btn" style="color:white;font-size: 30px" data-toggle="dropdown"> -->
          <!-- <h3 id="upload-text" class="mt-3 ml-3" style="color:white"> Import Image</h3> -->
          <!-- </button> -->
          <button type="button" class="btn form-group" style="color: #3a3a3a;font-size: 30px">
              <h3 href="{% static "search/upload.js" %}" onclick="$('#pro-image').click()"  class="mt-3 ml-3" style="color:white">Import Image</h3>
              <input type="file" id="pro-image" name="pro-image" style="display: none;" class="form-control" multiple>
          </button>
        </div>
      </a>
      <div class="mt-5 row">
        <div class="dropdown">
    <button type="button" class="btn dropdown-toggle" style="color:white;font-size: 30px" data-toggle="dropdown">
      <span> Apply Algorithms</span>
    </button>
    <div class="dropdown-menu" style="font-size: 20px;width:100%">
      <a class="dropdown-item" href="#"></a>
      <a class="dropdown-item" href="#">Link 2</a>
      <a class="dropdown-item" href="#">Link 3</a>
    </div>
  </div>
      </div>
      <div class="ml-4 row">
        <div class="dropdown">
    <button type="button" class="btn dropdown-toggle" style="color:white;" data-toggle="dropdown">
      <span> Small Vehicles</span>
    </button>
    <div class="dropdown-menu" style="font-size: 20px;width:100%">
      <a class="dropdown-item" href="#">Apply</a>
      <a class="dropdown-item" href="#">Remove</a>
    </div>
  </div>
      </div>
      <div class="ml-4 row">
        <div class="dropdown">
    <button type="button" class="btn dropdown-toggle" style="color:white;" data-toggle="dropdown">
      <span> Large Vehicle</span>
    </button>
    <div class="dropdown-menu" style="font-size: 20px;width:100%">
      <a class="dropdown-item" href="#">Apply</a>
      <a class="dropdown-item" href="#">Remove</a>
    </div>
  </div>
      </div>
      <div class="ml-4 row">
        <div class="dropdown">
    <button type="button" class="btn dropdown-toggle" style="color:white;" data-toggle="dropdown">
      <span> Bridge</span>
    </button>
    <div class="dropdown-menu" style="font-size: 20px;width:100%">
      <a class="dropdown-item" href="#">Apply</a>
      <a class="dropdown-item" href="#">Remove</a>
    </div>
  </div>
      </div>
      <div class="ml-4 row">
        <div class="dropdown">
    <button type="button" class="btn dropdown-toggle" style="color:white;" data-toggle="dropdown">
      <span> Plane</span>
    </button>
    <div class="dropdown-menu" style="font-size: 20px;width:100%">
      <a class="dropdown-item" href="#">Apply</a>
      <a class="dropdown-item" href="#">Remove</a>
    </div>
  </div>
      </div>
      <div class="ml-4 row">
        <div class="dropdown">
    <button type="button" class="btn dropdown-toggle" style="color:white;" data-toggle="dropdown">
      <span> Helicopter</span>
    </button>
    <div class="dropdown-menu" style="font-size: 20px;width:100%">
      <a class="dropdown-item" href="#">Apply</a>
      <a class="dropdown-item" href="#">Remove</a>
    </div>
  </div>
      </div>
      <div class="ml-4 row">
        <div class="dropdown">
    <button type="button" class="btn dropdown-toggle" style="color:white;" data-toggle="dropdown">
      <span> Ship</span>
    </button>
    <div class="dropdown-menu" style="font-size: 20px;width:100%">
      <a class="dropdown-item" href="#">Apply</a>
      <a class="dropdown-item" href="#">Remove</a>
    </div>
  </div>
      </div>
      <!-- <div class="row" style="height:150px">
      </div> -->
      <div class="row">
        <h3 class="mt-3 ml-3" style="color:white"> Export</h3>
      </div>
      <div class="ml-4 row">
        <div class="dropdown">
    <button type="button" class="btn dropdown-toggle" style="color:white;" data-toggle="dropdown">
      <span> CSV</span>
    </button>
    <div class="dropdown-menu" style="font-size: 20px;width:100%">
      <a class="dropdown-item" href="#">Download</a>
      <a class="dropdown-item" href="#">Mail</a>
    </div>
  </div>
      </div>
      <div class="ml-4 row">
        <div class="dropdown">
    <button type="button" class="btn dropdown-toggle" style="color:white;font-size:20px" data-toggle="dropdown">
      <span> Word</span>
    </button>
    <div class="dropdown-menu" style="font-size: 20px;width:100%">
      <a class="dropdown-item" href="#">Download</a>
      <a class="dropdown-item" href="#">Mail</a>
    </div>
  </div>
      </div>
      <div class="ml-4 row">
        <div class="dropdown">
    <button type="button" class="btn dropdown-toggle" style="color:white;font-size:20px" data-toggle="dropdown">
      <span> Excel</span>
    </button>
    <div class="dropdown-menu" style="font-size: 20px;width:100%">
      <a class="dropdown-item" href="#">Download</a>
      <a class="dropdown-item" href="#">Mail</a>
    </div>
  </div>
      </div>
        </div>
        <div class="col-8" style="background-color:#3a3a3a">
          <div class="row">
            <div class="col" style="height : 50px">
            </div>
          </div>
          <!-- <a style="text-decoration:none" href="#"> -->
          <div class="row ">
            <div class="col-4" style="height: 70px;background-color :grey; text-align:center">
              <a style="text-decoration:none" href="#">
              <h3 class="mt-3 text-center" style="color:#595959"> Search to upload file</h3>
            </a>
            </div>
            <div class="col-2" style="height: 70px;background-color: #595959">
              <h4 class="mt-1 text-center" style="color:white">Accuracy:</h4>
              <h4 class="mt-1 text-center" style="color: #0433ff"> 94%</h4>
            </div>
            <div class="col-3" style="height: 70px;background-color: #595959">
              <h4 class="mt-1 text-center" style="color:white">Object:</h4>
              <h4 class="mt-1 text-center" style="color: #0433ff"> Small Vehicle</h4>
            </div>
            <div class="col-3" style="height: 70px;background-color: #595959">
              <h4 class="mt-1 text-center" style="color: white">Detections:</h4>
              <h4 class="mt-1 text-center" style="color: #0433ff">4</h4>

            </div>
          </div>
        <!-- </a> -->
          <div class="row">
            <div class="col" style="height:50px;background-color:#595959">
              <h6 class="mt-3 ml-3" style="color: silver"> Geolocation: LAT: 30.1841 N; LONG: 71.4131 E</h6>
            </div>
            <div class="col" style="height:50px;background-color:#595959;">
              <h6 class="mt-3 ml-3" style="color: silver"> Sensor Type: Panchromatic</h6>
            </div>
          </div>
          <div class="row" style="height:200px; background-color:#3a3a3a">
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>



<!-- <div class="container">

    <div class="preview-images-zone">
        <div class="preview-image preview-show-1">
            <div class="image-cancel" data-no="1">x</div>
            <div class="image-zone"><img id="pro-img-1" src="https://img.purch.com/w/660/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzA5Ny85NTkvb3JpZ2luYWwvc2h1dHRlcnN0b2NrXzYzOTcxNjY1LmpwZw=="></div>
            <div class="tools-edit-image"><a href="javascript:void(0)" data-no="1" class="btn btn-light btn-edit-image">edit</a></div>
        </div>
        <div class="preview-image preview-show-2">
            <div class="image-cancel" data-no="2">x</div>
            <div class="image-zone"><img id="pro-img-2" src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/flip.jpg"></div>
            <div class="tools-edit-image"><a href="javascript:void(0)" data-no="2" class="btn btn-light btn-edit-image">edit</a></div>
        </div>
        <div class="preview-image preview-show-3">
            <div class="image-cancel" data-no="3">x</div>
            <div class="image-zone"><img id="pro-img-3" src="http://i.stack.imgur.com/WCveg.jpg"></div>
            <div class="tools-edit-image"><a href="javascript:void(0)" data-no="3" class="btn btn-light btn-edit-image">edit</a></div>
        </div>
    </div>
</div> -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
